<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="navbar1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon"></span>
				<span class="icon"></span>
				<span class="icon"></span>
			</button>
		</div>
		<div id="navbar1" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a ui-sref="app"><span class="glyphicon glyphicon-home"></span></a></li>
				<li><a ui-sref="app.contactus"><span class="glyphicon glyphicon-envelope"> ContactUs</span></a></li>
			</ul>
		</div>
	</div>
</nav>